$colorPrincipal: #02DF79;
$colorFondo: #013244;
$colorFondoOscuro: #032633;
$colorTextos: #ffffffad;
$colorFondoOpaco: #ffffff09;
$colorFondoOpacoMin: #ffffff0e;
$colorTextosSolido: white;
$colorInformes: #ff6b6b;